.container{
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main{
    background-color: white;
    padding: 20px 30px;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
}

.mainBlock{
    display: none;
}

.incomeContainer{
    max-height: 280px;
    overflow-y: auto;
    margin-top: 10px;
}


.incomeBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 10px 0;
}

.incomeDetail h3{
    font-weight: bold;
    margin-bottom: 3px;
}

.amountBox{
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 1400px){
    .container{
        min-width: 380px;
        order: 1;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        order: 2;
        height: fit-content;
        width: 40%;
   }
}